.todo-item-card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px;
  background: white;
  border-bottom: 1px solid #e2e8f0;
  border-radius: 12px;
  margin-bottom: 12px;
  transition: all 0.2s;
}
.todo-actions{
    display: flex;
    align-items: end;
    position: relative;
    left: 20px;
    column-gap: 10px;
    width: 100%;
    justify-content: end;
    margin-right: 10px;
}
.btn-img{
    height: 10px;
    width: 10px;
}

.todo-item-card:hover {
  background: #f8fafc;
  border-color: #cbd5e1;
}

.todo-item-card input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.todo-content h3 {
  margin: 0 0 6px 0;
  font-size: 16px;
  font-weight: 600;
  color: #1e293b;
}

.todo-content p {
  margin: 0;
  color: #64748b;
  font-size: 14px;
}